<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

  <div id="app">
    <div>
      <h2>EMPLOYEE RECORD</h2><br>
      <p>Name 1:  {{name1}}<br></p>
      <p v-if="name2">Name 2:  {{name2}}<br></p>
      <p>Surname:  {{surname}}<br></p>
      <p v-if="!foreigner">Pesel:  {{pesel}}<br></p>
      <p v-if="foreigner">Nationality:  {{nationality}}<br></p>
      <p>Address:  {{address}}<br></p>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name1: 'Adam',
        name2: 'Jan',
        surname: 'Majewski',
        foreigner: true,
        nationality: 'Polish',
        pesel: '92021708229',
        address: 'ul. Szeroka 3, Kraków',
      }
    });
  </script>

</body>
</html>